 .card-clickable {
     cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

.card-clickable:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
     }     

.card-clickable.active {
     border: 2px solid #0d6efd;
     box-shadow: 0 4px 12px rgba(13, 110, 253, 0.4);
    }
 
.progress {
    height: 25px 
}

/*alteração feita aqui


/* Estilo para o ícone de filtro no cabeçalho da tabela */
.filter-icon {
    cursor: pointer;
    color: #adb5bd; /* Cinza claro */
    transition: color 0.2s;
}

.filter-icon:hover, .filter-icon.active {
    color: #ffffff; /* Branco quando ativo ou hover */
}

/* Ajuste para o menu dropdown do filtro não sumir */
.filter-dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    min-width: 250px;
    padding: 10px;
}

/* Estilo da label do checkbox dentro do filtro */
.filter-option {
    display: block;
    padding: 3px 0;
    cursor: pointer;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}