{% extends 'base_template.html'%}

{% block title %} Análise de Performance de Entregas {% endblock %}

{% block content %}

    <nav class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="bi-bar-chart-line-fill"></i> 
                <strong>Sistema de Monitoramento de Entregas</strong>
            </a>
        </div>
    </nav>

   <div class="main-container">
    <div class="container py-5">
        <div class="card p-4">
            <div class="card-body">
                <div class="text-center mb-4">
                    <h1 class="card-title text-primary">Análise de Performance</h1>
                    <p class="text-muted">
                        Faça o upload dos arquivos de preventiva e do relatório de entregas para gerar um relatório de performance detalhado.
                    </p>
                </div>
                
                <form id="analysis-form" method="post" enctype="multipart/form-data">
                    <div class="mb-4">
                        <label for="preventiva" class="form-label fw-bold">1. Arquivo de Preventiva</label>
                        <input type="file" id="preventiva" name="preventiva" class="form-control" required accept=".csv, .xlsx">
                        <div class="form-text">Envie o arquivo que começa com "Relatorio_DOMICILIO ou cd-etapa".</div>
                    </div>
                    
                    <div class="mb-4">
                        <label for="relatorio" class="form-label fw-bold">2. Relatório de Entregas</label>
                        <input type="file" id="relatorio" name="relatorio" class="form-control" required accept=".xls">
                        <div class="form-text">Envie o relatório do Mobile Entregas.</div>
                    </div>

                    <div class="d-grid gap-2 mt-5">
                        <button id="submit-button" type="submit" class="btn btn-primary btn-lg">
                            <i class="bi bi-bar-chart-line-fill"></i> Analisar Arquivos
                        </button>
                        <button id="loading-button" class="btn btn-primary btn-lg" type="button" disabled style="display:none;">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Processando... Por favor, aguarde.
                        </button>
                    </div>
                </form>
            </div>
        </div>
      </div>
   </div>

{% endblock %}